<link href="/assets/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
<header>
  <div class="blog-masthead">
    <div class="container">
      <nav class="nav">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/statistic">Statistic</a>
        <a class="nav-link" href="#">Press</a>
        <a class="nav-link" href="#">New hires</a>
        <a class="nav-link" href="#">About</a>
      </nav>
    </div>
  </div>
</header>

<main role="main" class="container">

  <router-outlet></router-outlet>

</main><!-- /.container -->

<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>



