<link href="/assets/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
<header>
  <div class="blog-masthead">
    <div class="container">
      <nav class="nav">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['']">Home</a>
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['statistics']">Statistics</a>
        <!--<a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['photos']">Photo</a>-->
        <!--<a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['timeline']">User</a>-->
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['about']">About</a>
      </nav>
    </div>
  </div>
</header>

<main role="main" class="container">

  <router-outlet></router-outlet>

</main><!-- /.container -->

<footer class="blog-footer">
  <p>Copyright &copy; 2017 Fudan University. All Right Reserved.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>


