<div class="row">
  <div class="col-12 blog-main">
    <div class="blog-post">
      <div class="row" *ngFor="let detail of userDetail$ | async">
        <div class="col-10">
          <h2 class="blog-post-title">{{detail.username}}</h2>
          <p class="blog-post-meta font-large">
            <span>{{detail.realname}} </span>&nbsp;&nbsp;
            <span class="oi oi-map-marker space"></span>{{detail.address}}
          </p>
          <p class="blog-post-meta font-large">
            <span class="thumb-up"><span class="oi oi-thumb-up"></span> {{detail.thumbUp}}</span>
            <span class="thumb-down"><span class="oi oi-thumb-down"></span> {{detail.thumbDown}}</span>
          </p>
        </div>
        <div class="col-2">
          <img class="avatar rounded-circle" src="{{detail.avatar}}">
        </div>
      </div>
      <br>
      <masonry [options]="options$" class="masonry-container">
        <div masonry-brick *ngFor="let photoDetail of photosDetail$ | async">
          <div class="card rounded border" ngbPopover="{{photoDetail.description}}" triggers="mouseenter:mouseleave" popoverTitle="Photo #{{photoDetail.id}}">
            <img class="card-img-top" src="{{photoDetail.image}}" alt="{{photoDetail.id}}" (click)="open(photoDetail)">
            <div class="card-body">
              <div class="row">
                <div class="col-6 thumb-up">
                  <span class="oi oi-thumb-up"></span> {{photoDetail.votes}}
                </div>
                <div class="col-6 thumb-down">
                  <span class="oi oi-eye"></span> {{photoDetail.views}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </masonry>
    </div>
  </div>
</div>
