<div class="row">
  <div class="col-12 blog-main">
    <div class="blog-post">
      <div class="row">
        <div class="col-11">
          <h2 class="blog-post-title">Photos Gallery</h2>
          <p class="blog-post-meta">Results of searching {{term}}</p>
        </div>
        <div class="col-1">
          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" [routerLink]="['']">Back</a>
          </nav>
        </div>
      </div>
      <br>
      <masonry [options]="options" class="masonry-container">
        <div masonry-brick *ngFor="let photo of photos$ | async">
          <div class="card rounded border">
            <img class="card-img-top" src="{{photo.image}}" alt="Card image cap">
          </div>
        </div>
      </masonry>
    </div>
  </div>
</div>
